{% extends 'main_pages/dashboard.html' %}
{% block content %}

 <div class="card">
    <div class="card-body">
       <h5 class="card-title">Add Budget</h5>
       <form method="POST" action="{% url 'add_new_budget' %}" class="row g-3">
        {% csrf_token %}
          <div class="col-12"> <label for="inputAmount" class="form-label">Add Budget</label> <input type="number" name="amount" class="form-control" id="inputAmount" required></div>
          <div class="text-center"> <button type="submit" class="btn btn-primary">Save</button> <button type="reset" class="btn btn-secondary">Reset</button></div>
       </form>
    </div>
 </div>
 {% for message in messages %}
    <ul>
      <li class="error_msg">{{message}}</li>
    </ul>
    {% endfor %}


{% endblock content %}