{% extends 'main_pages/dashboard.html' %}
{% block content %}
<div class="container">
    <!--fetch all expenses from Expenses table-->
    <h1>Expenses</h1>
    <strong> Name: </strong>{{ user.first_name }} <br>
    <strong> Surname: </strong>{{ user.last_name }}

    <br><br>

    <table class="table" style="width:100%">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>AMOUNT</th>
            <th>DATE</th>
        </tr>
        {% for data in alldata %}
        <tr>
            <td>{{data.user.id}}</td>
            <td>{{data.title}}</td>
            <td>R{{data.amount}}</td>
            <td>{{data.created_at}}</td>
        </tr>
        {% endfor %}
    </table>
    <!--/expenses-->

</div>

{% endblock content %}